@model IEnumerable<ChenKennethHW5.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendedPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Orders" asp-action="Details" asp-route-id="@Model.FirstOrDefault()?.Order.OrderID">Back to Order</a>
</div>
