@model ChenKennethHW5.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <h4>Products Supplied</h4>

    @if (Model.Products != null && Model.Products.Any())
    {
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>@product.Name</li>
            }
        </ul>
    }
    else
    {
        <p>This supplier does not provide any products.</p>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
